<h1>Snack: <%= @snack.name %></h1>
<h2>Price: $<%= @snack.price %></h2>
<div id="locations">
  <% @snack.machines.each do |machine| %>
  Location: <%= machine.location %>
  Avg Price of Snacks: $<%= '%.2f' % machine.average_price_of_snacks %>
  Snack Count: <%= machine.snacks.length %></br>
  <% end %>
</div>
